/.venv/
/uv-python/
/bin/runlim
/bin/tectonic
/src/runlim/
/src/tectonic
/all/
/sub/
/smoketest/
/*.tar
/*.zip
/*.pdf
**/benchmarks-*
**/log-*/
/bin/aigsplit
/bin/aigtoaig
/bin/aigtocnf
/bin/cadical
/bin/certifaiger
/bin/caketaiger
/bin/cake_lrup
/bin/proveit
/bin/pvs-sbclisp
/src/aiger/
/src/cadical/
/src/certifaiger/
/src/caketaiger-artifacts/
/src/nuxmv/
/hwmcc/model/
/hwmcc/witness/
/hwmcc/*.tar.gz
/hwmcc/*.part
**/__pycache__/
**/data-sub
**/data-smoketest
/multi/*.pdf
/multi/*.tex
/pvs/*.pdf
/pvs/*.tex
/hwmcc/*.pdf
/hwmcc/*.tex
/multi/model/
/multi/witness/
/pvs/model/
/pvs/nuxmv/
tt
/pvs/voiraig/

/bin/pvs-theories/
/src/tectonic.tar.gz
/bin/pvs.sif
/bin/pvs.sif.tmp
